<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Список пользователей</title>
</head>
<body>
<!--/*@thymesVar id="user" type="katapackage.spring.model.User"*/-->
<div
   th:each="user : ${users}">
    <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getName()+' ' + user.getLastname()}"></a>

</div>
<br>
<hr>
<a th:href="new">Добавить пользователя</a>
<br>
<label>Нажмите на пользователя для редактирования</label>
</body>
</html>